body{
    background-color: rgb(20, 238, 20);
}
.nascosto{
    display: none;
}

.contenitore{
    width: 80%;
    margin: 50px auto;
    background-color: blue;
}

h1{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

.littleCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenitore-biglietto{
    border-radius: 20px;
    margin-top: 100px;
    background-color: aqua;
    height: 300px;
    padding: auto;
}
img{
    max-width: 100%;
}

.row{
    
    border: 3px solid white;
    border-radius: 20px;
}

section{
    background-color: blue;
    color: white;
    height: 200px;
    border-radius: 20px;
}
.container h1{
    margin: 20px 0;
}